* {
    padding: 0;
    margin: 0;
}

body {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 5%;
}

#titulo {
    font-weight: bold;
    font-size: larger;
    text-shadow: 4px 4px 4px grey;
}

#imagen img {
    float:left;
    border-radius: 100px;
    box-shadow: 8px 8px 4px grey;
}

#texto {
    padding-top: 10px;
    clear: both;
}